---
layout: "articles"
---
{% for label in site.categories %}
<article id="{{ label[0] | strip | downcase | urlencode }}" class="panel">
    <h4>{{label[0]|strip|capitalize}}</h4>
    <ul style="list-style: none;">
        {% for p in label[1] %}
        <li>
            <a href="{{p.url}}" target="_blank" style="text-decoration:none;display:flex;justify-content: left;">
                {% if p.img %}
                <img src="{{p.img}}" class="image fit" style="padding:0.25em;display:inline;height:3em;width:3em;" />
                {%else%}
                <span style="padding:0.25em;display:inline;width:3em;height:3em;"></span>
                {%endif%}
                <div style="padding: 0.25em;">
                    {{p.title || default: p.name}}
                    <br />
                    <span style="font-size:smaller;font-style:italic;">{{p.date | date: "%d %b %Y"}}</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</article>
{%endfor%}
{% for label in site.tags %}
<article id="{{ label[0] | strip | downcase | urlencode }}" class="panel">
    <h4>{{label[0]|strip|capitalize}}</h4>
    <ul style="list-style: none;">
        {% for p in label[1] %}
        <li>
            <a href="{{p.url}}" target="_blank" style="text-decoration:none;display:flex;justify-content: left;">
                {% if p.img %}
                <img src="{{p.img}}" class="image fit" style="padding:0.25em;display:inline;height:3em;width:3em;" />
                {%else%}
                <span style="padding:0.25em;display:inline;width:3em;height:3em;"></span>
                {%endif%}
                <div style="padding: 0.25em;">
                    {{p.title || default: p.name}}
                    <br />
                    <span style="font-size:smaller;font-style:italic;">{{p.date | date: "%d %b %Y"}}</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</article>
{%endfor%}
<article id="noResults" class="panel">
    <h4>No results match this category/tag, sorry.</h4>
</article>
<script>
    window.onload = function () {
        var hash = (window.location.hash || "#").substring(1);
        var count = 0;
        //if there is a URL hash
        if (hash) {
            //get all articles
            var sections = document.querySelectorAll("article");
            for (var i = 0; i < sections.length; ++i) {
                var id = sections[i].getAttribute("id");
                //hide/display the article if the id matches the hash
                sections[i].classList[((id == "noResults" && hash) || id == hash) ? "remove" : "add"]("inactive");
                sections[i].style = id == hash ? "" : "display:none;";
                count += id == hash ? 1 : 0;
            }
        }
        //if no panels are active, show the noResults panel
        document.getElementById("noResults").style = "padding:3em;" + (hash && !count ? "display:block;" : "display:none;");
    }
</script>