{% capture strList %}
{%assign str = "" %}
{%comment%}Make a string of unique categories and tags across the site{%endcomment%}
{%for cat in page.categories %}
{% if str contains cat %}{%else%}
{%assign str = {{str | append: cat | append: ","}} %}
{%endif%}
{%endfor%}
{%for tag in page.tags %}
{% if str contains tag %}{%else%}
{%assign str = {{str | append: tag | append: ","}} %}

{%endif%}
{%endfor%}
{{str}}
{% endcapture%}
{%comment%}Remove the whitespace and turn it into an indexable array{%endcomment%}
{% assign strList = {{strList| strip | split: "," | sort}} %}
<!DOCTYPE HTML>
<html>

<head>
    {%capture pageTitle %}{{page.title}}{%endcapture%}
    {% include head.html title=pageTitle %}
</head>

<body class="is-preload">
    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Nav -->
        <nav id="nav">
            {% include nav.html %}
        </nav>

        <!-- Main -->
        <div id="main">
            <article {%if page.id%}id="{{page.id}}"{%endif%} class="panel {{page.className | default:""}}">
                <header>
                    <h2>{{page.title}}</h2>
                    <p style="font-size:smaller">
                        {%if page.author %}{{page.author}} - {%endif%}{{page.date | date: "%d %b %Y"}}
                    </p>
                    {%if page.categories or page.tags %}
                    <p style="font-size:small">
                        {%for str in strList %}
                            <a href="{{site.baseurl}}/browse#{{str}}">{%include replace_label.html label=str %}</a> 
                        {%endfor%}                    
                    </p>
                    {%endif%}
                </header>
                {{content}}
            </article>
        </div>

        <!-- Footer -->
        {% include footer.html %}

    </div>
    <!-- Scripts -->
    {% include scripts.html %}
</body>

</html>