<!DOCTYPE HTML>
<html>

<head>
    {%capture pageTitle %}{{page.title}}{%endcapture%}
    {% include head.html title=pageTitle %}
</head>

<body class="is-preload">
    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Nav -->
        <nav id="nav">
            {% include nav.html %}
        </nav>

        <!-- Main -->
        <div id="main">
            <article {%if page.id%}id="{{page.id}}"{%endif%} class="panel {{page.className | default:""}}">
                <header>
                    <h2>{{page.title}}</h2>
                    <p style="font-size:smaller">
                        {%if page.author %}{{page.author}} - {%endif%}{{page.date | date: "%d %b %Y"}}
                    </p>
                    {%if page.categories or page.tags %}
                    <p style="font-size:small">{%if page.categories %}{%for c in page.categories%}<a href="/filter#{{c}}">{{c}}</a> {%endfor%}{%endif%}{%if page.categories and page.tags %} | {%endif%}{%if page.tags %}{%for t in page.tags%}<a href="/filter#{{t}}">{{t}}</a> {%endfor%}{%endif%}</p>
                    {%endif%}
                </header>
                {{content}}
            </article>
        </div>

        <!-- Footer -->
        {% include footer.html %}

    </div>
    <!-- Scripts -->
    {% include scripts.html %}
</body>

</html>